
<div class="footer-base">
  
  <div class="f-links-social"> 
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <div class="Text">&copy; WonderLust Private Limited</div>
  <div class="f-link-conditions">
    <a class="privacy" href="/privacy"> privacy </a>
    <a class="terms" href="/terms"> terms </a>
  </div>
  
</div>