<% layout("/layouts/boilerplate") %>

<div class="row do-fade">
  <div class="col-8 offset-2">
    <h3> Login on WonderLust </h3>
    <form method="POST" action="/login" novalidate class="needs-validation">
     
<div class="mt-3 mb-3">
 <label for="email" class="form-label">Username</label>
      <input type="text" placeholder="Enter a username..." class="form-control" name="username" required/>
</div>

<div class="mt-3 mb-3">
 <label for="password" class="form-label">Password</label>
      <input type="password" placeholder="Enter a password..." class="form-control" name="password" required/>
</div> 

  <button class="mt-3 btn btn-dark add-btn">Login</button>
   </form>
      <hr>
   <div class="new-user">
     <h3> New User?<a href="/signup">signup</a></h3>
   </div>
</div>
</div>
